
.overview-market{
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow: hidden;
    overflow-x: scroll;
    overscroll-behavior-inline: contain ;
    -ms-overflow-style: none;
	scrollbar-width: none;
    
}

.overview-market::-webkit-scrollbar{
    display: none;
}

.overview-element{
    display: grid;
    grid-template-rows: min-content ;
    gap: 5px;
    padding: 20px;
    background: slategray;
    border-radius: 5px;

}
.css-t89xny-MuiDataGrid-columnHeaderTitle{
    font-weight: bold !important;
    color: #69748B;
}

.custom-header {
    
    font-weight: bold !important; /* Bold font */
    color: black; /* Change color to red */
    font-size: 15px;
}


@media only screen and (max-width: 768px){
	.treandingCard {
		display: grid;
	}
	
}

.IndexStockCard {
    border-radius: 5px;
    border: 1px solid #E2E8F0;
    margin: 10px;
    width: 22.3%;
  
  }

.StockCard {
  border-radius: 5px;
  border: 1px solid #E2E8F0;
  margin: 10px;
  width: 30.5%;

}

/* Media queries for responsiveness */
@media only screen and (max-width: 576px){
	.StockCard {
		width: 24%;
	}
    .IndexStockCard {
		width: 24%;
	}
}

@media only screen and (max-width: 768px){
	.StockCard {
		width: 70%;
	}
    .IndexStockCard {
		width: 70%;
	}
}

@media only screen and (max-width: 992px){
	.StockCard {
		width: 85%;
	}
    .IndexStockCard {
		width: 85%;
	}
}
